# Assignment 65050368 ธนภัทร์ เกิดเปี่ยม

# Week 1

## 1

In [ ]:
num1 = int(input("Enter num1: "))
num2 = int(input("Enter num2: "))
print("Plus:", num1 + num2)
print("Minus:", num1 - num2)

Enter num1: 10
Enter num2: 5
Plus: 15
Minus: 5

## 2

In [ ]:
F = int(input("Enter fahrenheit: "))
print(f"Fahrenheit: {F} = Celsius: {(F - 32) * 5 / 9}")

Enter fahrenheit: 77
Fahrenheit: 77 = Celsius: 25.0

## 3

In [ ]:
yard = int(input("Enter yard: "))
print(f"Yard: {yard} = CM:", yard * 90)

Enter yard: 1
Yard: 1 = CM: 90

## Bonus

In [ ]:
donut_amount = int(input("Enter donut amount: "))

box10 = donut_amount // 10
donut_amount %= 10

box5 = donut_amount // 5
donut_amount %= 5

box3 = donut_amount // 3
donut_amount %= 3

box1 = donut_amount // 1
donut_amount %= 1

print("Box 10:", box10)
print("Box 5:", box5)
print("Box 3:", box3)
print("Box 1:", box1)
print("Total Box:", box10 + box5 + box3 + box1)

Enter donut amount: 37
Box 10: 3
Box 5: 1
Box 3: 0
Box 1: 2
Total Box: 6

## 4

In [ ]:
score1 = int(input(f"Enter score student 1: "))
score2 = int(input(f"Enter score student 2: "))
score3 = int(input(f"Enter score student 3: "))

min_score = score1
max_score = score1

if score2 < min_score:
    min_score = score2
if score2 > max_score:
    max_score = score2

if score3 < min_score:
    min_score = score3
if score3 > max_score:
    max_score = score3

print("Min:", min_score)
print("Max:", max_score)

Enter score student 1: 10
Enter score student 2: 15
Enter score student 3: 20
Min: 10
Max: 20

## 5

In [ ]:
score = int(input("Enter score: "))

if (score >= 60):
  print('S')
else:
  print('U')

Enter score: 60
S

## 6

In [ ]:
height = int(input("Enter Height (cm): "))
weight = int(input("Enter weight (pounds): "))
bmi = (weight * 0.453) / (height * 0.01) ** 2

if (bmi < 18.5):
  print("นํ้าหนักตํ่ากว่าเกณฑ์")
elif (bmi >= 18.5 and bmi <= 24.9):
  print("นํ้าหนักปกติ")
elif (bmi >= 25 and bmi <= 29.9):
  print("นํ้าหนักมากกว่าเกณฑ์")
else:
  print("คุณอ้วนมากๆ")

Enter Height (cm): 175
Enter weight (pounds): 25
นํ้าหนักตํ่ากว่าเกณฑ์

## 7

In [ ]:
quantity = int(input("จำนวนสินค้า: "))
price_per_item = 90

if (quantity == 1):
  price_per_item = 100
elif (quantity >= 2 and quantity <= 4):
  price_per_item = 98
elif (quantity >= 5 and quantity <= 9):
  price_per_item = 95
else:
  price_per_item = 90

print(f"ราคาสินค้าต่อชิ้น {price_per_item}")
print(f"ราคารวม: {quantity * price_per_item}")

จำนวนสินค้า: 2
ราคาสินค้าต่อชิ้น 98
ราคารวม: 196

# Week 2

# Bonus 1

In [ ]:
total = 0
amount = 0

while True:
  quantity = int(input("จำนวนสินค้า: "))

  if quantity == 0:
    break

  price_per_item = 90

  if (quantity == 1):
    price_per_item = 100
  elif (quantity >= 2 and quantity <= 4):
    price_per_item = 98
  elif (quantity >= 5 and quantity <= 9):
    price_per_item = 95
  else:
    price_per_item = 90

  print(f"{quantity} ชิ้น {quantity * price_per_item}")
  amount += quantity
  total += quantity * price_per_item

print("\nสรุปผล")
print(f"จำนวนสินค้าทั้งหมด {amount}")
print(f"ราคารวม: {total}")

จำนวนสินค้า: 3
3 ชิ้น 294
จำนวนสินค้า: 10
10 ชิ้น 900
จำนวนสินค้า: 0

สรุปผล
จำนวนสินค้าทั้งหมด 13
ราคารวม: 1194

## Bonus 2

In [ ]:
odd = 0
even = 0

while True:
  num = int(input("Enter number: "))

  if num == 0:
    break

  if num % 2 == 0:
    even += 1
  else:
    odd += 1

print("Event Win" if even > odd else "Odd Win")

Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 4
Enter number: 0
Event Win

## Bonus 3

In [ ]:
print("Rock Paper Scissors Game")
enter = input("Please Enter R(Rock), P(Paper), S(Scissors) [Example: RSPSSR]: ")

win_a = 0
win_b = 0

for i in range(0, len(enter), 2):
  a = enter[i].lower()
  b = enter[i + 1].lower()
  round = win_a + win_b + 1

  if a == b:
    print(f"Round {round}: Draw")
    continue;
  elif (a == "r" and b == "s") or (a == "p" and b == "r") or (a == "s" and b == "p"):
    win_a += 1
    print(f"Round {round}: A Win")
  else:
    win_b += 1
    print(f"Round {round}: B Win")

if win_a == win_b:
  print("Draw")
elif win_a > win_b:
  print("A Win")
else:
  print("B Win")

Rock Paper Scissors Game
Please Enter R(Rock), P(Paper), S(Scissors) [Example: RSPSSR]: RSPSSR
Round 1: A Win
Round 2: B Win
Round 3: B Win
B Win

## 8

In [ ]:
sum = 0

while True:
  num = int(input("Enter number: "))

  if num == 0:
    break

  sum += num

print("Sum is", sum)

Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 0
Sum is 15

## 9

In [ ]:
total = 0

for i in range(5):
  num = int(input("Enter number: "))
  total += num

print("Avg is", total / 5)

Enter number: 80
Enter number: 90
Enter number: 80
Enter number: 10
Enter number: 20
Avg is 56.0

## 10

In [ ]:
amount = 0
total = 0

while True:
  num = int(input("Enter number: "))

  if num == 0:
    break

  amount += 1
  total += num

print("Total input:", amount)
print("Avg:", total / amount)

Enter number: 80
Enter number: 90
Enter number: 0
Total input: 2
Avg: 85.0