In [1]:
A = [[2, 3, 4], [3, 3, 5], [1, 3, 6]]
B = [[3, 4, 1], [8, 2, 4], [3, 8, 6]]

In [2]:
def multiplication(A, B):
  AB = [[0] * len(A[0]) for _ in range(len(A))]

  for k in range(len(A)):
    for i in range(len(A[k])):
      AB[k][i] = 0
      for j in range(len(B)):
        AB[k][i] += A[k][j] * B[j][i]

  return AB

def transpose(A):
  T = [[0] * len(A[0]) for _ in range(len(A))]

  for i in range(len(A)):
    for j in range(len(A[i])):
      T[j][i] = A[i][j]

  return T

In [8]:
AB = multiplication(A, B)
AB_Transpose = transpose(AB)

In [9]:
B_Transpose = transpose(B)
A_Transpose = transpose(A)
BA_Transpose = multiplication(B_Transpose, A_Transpose)

In [12]:
print("A*B Transpose")
for i in AB_Transpose:
  print(i)

print("--------------\nB_Transpose * A_Transpse")

for j in BA_Transpose:
  print(j)

A*B Transpose
[42, 48, 45]
[46, 58, 58]
[38, 45, 49]
--------------
B_Transpose * A_Transpse
[42, 48, 45]
[46, 58, 58]
[38, 45, 49]